<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <input type="date" ref="dateInput" v-model="date">
</div>

</body>
<!--导入Vue.js-->
<script src="../lib/vue.js"></script>
<script src="../lib/Pikaday.js"></script>
<script>
    Vue.component('tree-folder', {
        data: function(){
            return {

            }
        },
        template: '\
            <p>\
                <span>{{folder.name}}</span>\
                <tree-folder-contents :children="folder.children"></tree-folder-contents>\
            </p>\
        '
    });
    Vue.component('tree-folder-contents', {
        template: '\
            <ul>\
                <li v-for="child in children">\
                <tree-folder v-if="child.children" : folder="child"></tree-folder>\
                <span v-else>{{child.name}}</span>\
                </li>\
            </ul>\
        '
    });


    new Vue({
        el: '#app',
        data: {
            date: null
        },
        mounted: function () {
            var picker = new Pikaday({
                field: this.$refs.dateInput,
                format: "YYYY-MM-DD"
            });
            this.$once("hook:beforeDestroy", function () {
                picker.destroy();
            });
        }
    });
</script>

</html>